.Body {
    background: map-get($colors, "white");
    background: linear-gradient(90deg, 
        darken(map-get($colors, "white"), 5%) 0%,
        map-get($colors, "white") 50%, 
        darken(map-get($colors, "white"), 5%) 100%);
}

.Main {
    font-family: $font-family;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
    text-align: center;
}